* {
  box-sizing: border-box;
}

.productlist__container {
  margin: 0 !important;
  padding: 0;
  width: 100%;
}

.productcard {
  padding: 10px 20px;
}



@media (max-width: 767.98px) {
  .productcard {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .productcard {
    width: 50%;
  }
}

@media (min-width: 991.98px) and (max-width: 1330px) {
  .productcard {
    width: 33%;
  }
}


@media (min-width: 1330px) {
  .productcard {
    width: 20%;
  }
}