* {
  box-sizing: border-box;
}

.container__search label {
  width: 85px;
}

.container__search {
  flex-grow: 1;
}

.container__sort--categories {
  width: 85px;
  text-align: right;
}

.sort-control {
  flex-grow: 1;
}


.listFilterInput {
  flex-grow: 1;
}

.listFilterInput input {
  width: 100%
}

.container__by {
  margin: 1rem 0;
}

.container__by label {
  width: 85px;
  text-align: right;
}

.container__by .form-group {
  flex-grow: 1;
}

.container__sort {
  width: 85px;
  text-align: right;
}

.button__sort {
  position: relative;
  left: 5px;
  background-color: rgba($color: #000000, $alpha: 0.5);
  flex-grow: 1;
  height: 40px;
  border-radius: 10px;
  color: white;
}

button div .fa-chevron-up,
button div .fa-chevron-down {
  margin: 0 0.5rem;
}

.button__inside {
  display: flex;
  width: 100%;
  margin-left: 0.5rem;
}

.productlist__container {
  margin: 0 !important;
  padding: 0;
  width: 100%;
}

.productcard {
  padding: 10px 20px;
  transition: transform 0.5s ease;
}

.productcard:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease;
  cursor: default;
}


@media (max-width: 767.98px) {
  .productcard {
    width: 100%;
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .productcard {
    width: 50%;
  }
}

@media (min-width: 991.98px) and (max-width: 1330px) {
  .productcard {
    transform: scale(0.8);
  }
}


@media (min-width: 1330px) {
  .productcard {
    width: 20%;
  }
}

@media (min-width: 991.98px) {
  .container__by label {
    width: 30px;
    text-align: center;

  }

  .container__sort {
    width: 40px;
    text-align: center;
  }

  .button__sort {
    width: 140px;
  }
}