<div class="customcard">
  <div class="image__container">
    <img src="https://m.media-amazon.com/images/I/919XM42JQlL.jpg" alt="book">
  </div>
  <div class="card__data">
    <div class="card--title h5">Egy relatíve hosszú szöveg cím gyanánt</div>
    <div class="card--description small">Rövid leírás, ami amúgy ha belegondolok, valszeg magasabb kártyákat igényel
      majd...
    </div>
    <div class="card__bottom">
      <div class="stock">
        <div class="stock--text">Készlet:</div>
        <div class="stock--status">15 db</div>
      </div>
      <div class="price">
        <div class="price--text">Ár:</div>
        <div class="price--status">15359 Ft</div>
      </div>
    </div>
  </div>
</div>