.customcard {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  height: 400px;
  min-width: 170px;
  border-radius: 1rem;
  background-color: rgb(247, 242, 230);
  box-shadow: 2px 5px 10px #1d1d1d;
}

.image__container {
  display: flex;
  max-height: 40%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 1rem 1rem 0 0;
}

.image__container img {
  width: 100%;
  transform: rotate(-5deg) scale(1.1);
  height: auto;
  object-fit: cover;
  overflow: hidden;
}

.card__data {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.75rem 1rem 1rem 1rem;
  overflow: hidden;
  color: rgb(56, 56, 56);
}

.card--description {
  align-self: flex-end;
  color: rgb(126, 126, 126);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card__top {
  display: flex;
  flex-direction: column;
}

.card__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid rgb(196, 196, 196);
  padding: 0.5rem 0 0 0;
}

.card--author {
  color: rgb(126, 126, 126);
  line-height: 1.1rem;
  margin: 0.4rem 0 0;
  font-weight: 500;
}

.stock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.stock {
  display: flex;
  justify-content: space-between;
  text-align: left;
  flex-wrap: wrap;
  font-size: 0.9rem;
  flex-shrink: 1;
  min-width: 70px;

}

.price {
  justify-content: flex-end;
  display: inline-block;
  word-break: break-word;
}

.price--text,
.stock--text {
  padding: 0;
  margin: 0;
  font-size: 0.75rem;
}

.price--text {
  text-align: right;
}


.price--status {
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
  line-height: 1.3rem;
  font-weight: bold;
  text-align: right;
}

.stock--status {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1rem;
}


.stock--out {
  color: #b4b4b4;
  font-size: 0.8rem;

}

.tag__offer {
  position: absolute;
  left: 80%;
  top: 300px;
  padding: 0 0 0 0.7rem;
  background-color: #ce1c1c;
  border-radius: 100% 100% 100% 0;
  line-height: 50px;
  font-weight: 900;
  font-size: 1.2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 50px;
  width: 50px;
  transform: rotate(5deg);
}

.price__textgroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price--previous {
  color: #ce1c1c;
  text-decoration: line-through;
  font-size: 0.8rem;
}