<div class="customcard m-2 mx-auto">
  <div class="image__container">
    <img [src]="oneProduct.image" class="img-fluid" width="10" height="20" alt="book">
  </div>
  <div class="card__data">
    <div class="card__top">
      <div class="card--author">{{oneProduct.author}}</div>
      <div class="card--title h5">{{oneProduct.name}}</div>
      <div class="card--description small">{{oneProduct.description}}
      </div>
    </div>
    <div class="card__bottom">
      <div class="stock">
        <div class="stock--text">{{stockText}}</div>
        <div [ngSwitch]="grammarCase" class="stock-status" [style.color]="stockColor">
          <div *ngSwitchCase="'plural'">{{oneProduct.stock}} items</div>
          <div *ngSwitchCase="'singular'">{{oneProduct.stock}} item</div>
          <div *ngSwitchDefault class="stock--out">Out of stock</div>
        </div>
      </div>
      <div class="price">
        <div class="price__textgroup">
          <div *ngIf="oneProduct.active" class="tag__offer" class="price--previous">{{oneProduct.price*1.2 |
            number:'1.1-2' |currency:'EUR':true}}</div>
          <div *ngIf="!oneProduct.active" class="tag__offer" class="price--previous"></div>
          <div class="price--text">{{priceText}}</div>
        </div>
        <div class="price--status">{{oneProduct.price | currency:'EUR':true}} </div>
      </div>
    </div>
  </div>
  <div *ngIf="oneProduct.active" class="tag__offer">20%</div>
  <!-- Ha az adatbázishoz hozzácsapunk még egy 'offer' tulajdonságot, akkor itt megjelenhet és a számítást is azzal végezhetjük-->
</div>