<div class="bgded overlay">
  <div class="wrapper row0">
    <div id="topbar" class="">
      <div class="fl_left">
        <ul class="nospace pt-3 pr-3">
          <li><i class="fa fa-phone rgtspace-5"></i>(+36 1) 880-0040</li>
          <li>
            <i class="fa fa-envelope rgtspace-5"></i> info@training360.com
          </li>
        </ul>
      </div>
    </div>

    <div style="background-image: url()" class="wrapper row1 navbar-inverse " id="navbar" (scroll)="onWindowScroll()">
      <header id="header" class="">
        <app-navigation></app-navigation>
      </header>
    </div>

    <div class="container2 mt-3">
      <div class="row">
        <div id="pageintro" class="col-12 hoc clear">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  <div class="bgded overlay row4" style="background-image: url()">
    <footer id="footer" class="hoc clear">
      <div class="center btmspace-50">
        <h6 class="heading">Follow us</h6>
        <ul class="faico clear">
          <li>
            <a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a>
          </li>
          <li>
            <a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
          </li>
          <li>
            <a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a>
          </li>
        </ul>
        <p class="nospace">
          Learn about new offers and get more deals by joining our newsletter!
        </p>
      </div>

      <div id="ctdetails">
        <div class="footer__container d-flex mt-5 mx-5 justify-content-between">
          <div class="footer__details d-flex">
            <div class="footer__details--left d-flex">
              <div class="footer__details--segment d-flex">
                <div class="segment__icon mx-3">
                  <i class="fa fa-phone"></i>
                </div>
                <div class="segment__info">
                  <div class="segment__header"><strong class="strong">Give us a call:</strong></div>
                  <div class="segment__text">(+36 1) 880-0040</div>
                </div>
              </div>
              <div class="footer__details--segment d-flex">
                <div class="segment__icon mx-3">
                  <i class="fa fa-envelope"></i>
                </div>
                <div class="segment__info">
                  <div class="segment__header"><strong class="strong">Send us a mail:</strong></div>
                  <div class="segment__text"><a href="mailto:info@training360.com">info@training360.com</a></div>
                </div>
              </div>
            </div>
            <div class="footer__details--right d-flex">
              <div class="footer__details--segment d-flex">
                <div class="segment__icon mx-3">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                </div>
                <div class="segment__info">
                  <div class="segment__header"><strong class="strong">Monday - Saturday:</strong></div>
                  <div class="segment__text">08.00am - 18.00pm</div>
                </div>
              </div>
              <div class="footer__details--segment d-flex">
                <div class="segment__icon mx-3">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <div class="segment__info">
                  <div class="segment__header"><strong class="strong">Come visit us:</strong></div>
                  <div class="segment__text">Directions to
                    <a href="https://goo.gl/maps/XcEYnBLwBRWtxbU1A" target="_blank">
                      our location</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer__jump mx-3">
            <a (click)="onScrollToTop()"><i class="fa fa-chevron-circle-up fa-3x" aria-hidden="true"></i></a>
          </div>
        </div>

      </div>
    </footer>
  </div>

  <script>
    window.onscroll = function () {
      scrollFunction();
    };

    function scrollFunction() {
      if (
        document.body.scrollTop > 20 ||
        document.documentElement.scrollTop > 20
      ) {
        document.getElementById("navbar").style.background = "#4D3626";
      } else {
        document.getElementById("navbar").style.background = "none";
      }
    }
  </script>
</div>