<section class="segment__top mt-3">
    <div class="title title__top mb-3">
        <h2>Admin Page</h2>
    </div>
    <div class="userguide">(Click on the header cells to sort the table by that property.)</div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <nav class="pagination__nav" aria-label="Page navigation example">
                <ul class="pagination pagination__top" *ngIf="canWeJumpPages">
                    <li *ngFor="let pageNumber of getPageNumbers()" class="page-item">
                        <a (click)="jumpToPage(pageNumber)" class="page-link page-link--active">{{pageNumber}}</a>
                    </li>
                </ul>
                <ul class="pagination" *ngIf="!canWeJumpPages">
                    <li *ngFor="let pageNumber of getPageNumbers()" class="page-item">
                        <a class="page-link page-link--disabled">{{pageNumber}}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-dark table-responsive table-hover">
                <thead>
                    <tr>
                        <th (click)="onPropertySelect($event)" class="column__click">ID</th>
                        <th (click)="onPropertySelect($event)" class="column__click">Cat.</th>
                        <th (click)="onPropertySelect($event)" class="column__click">Name</th>
                        <th (click)="onPropertySelect($event)" class="column__click">Author</th>
                        <th (click)="onPropertySelect($event)" class="column__click">Description</th>
                        <th (click)="onPropertySelect($event)" class="column__click column__image">Image</th>
                        <th (click)="onPropertySelect($event)" class="column__click text-center">Price</th>
                        <th (click)="onPropertySelect($event)" class="column__click text-center">Stock</th>
                        <th (click)="onPropertySelect($event)" class="column__click text-center">Featured</th>
                        <th (click)="onPropertySelect($event)" class="column__click text-center">Active</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><input name="id" [(ngModel)]="searchRow.id " type="text" class="form-control"
                                (keyup)="onSearchType('id')"></td>
                        <td><input name="catId" [(ngModel)]="searchRow.catId" type="text" class="form-control"
                                (keyup)="onSearchType('catId')"></td>
                        <td><input name="name" [(ngModel)]="searchRow.name" type="text" class="form-control"
                                (keyup)="onSearchType('name')"></td>
                        <td><input name="author" [(ngModel)]="searchRow.author" type="text" class="form-control"
                                (keyup)="onSearchType('author')"></td>
                        <td><input name="description" [(ngModel)]="searchRow.description" type="text"
                                class="form-control" (keyup)="onSearchType('description')"></td>
                        <td><input name="image" [(ngModel)]="searchRow.image" type="text" class="form-control"
                                (keyup)="onSearchType('image')"></td>
                        <td><input name="price" [(ngModel)]="searchRow.price" type="text" class="form-control"
                                (keyup)="onSearchType('price')"></td>
                        <td><input name="stock" [(ngModel)]="searchRow.stock" type="text" class="form-control"
                                (keyup)="onSearchType('stock')"></td>
                        <td><input name="featured" [(ngModel)]="searchRow.featured" type="text" class="form-control"
                                (keyup)="onSearchType('featured')"></td>
                        <td><input name="active" [(ngModel)]="searchRow.active" type="text" class="form-control"
                                (keyup)="onSearchType('active')"></td>
                        <td class="align-middle">
                            <button class="btn btn-info" (click)="clearFilters()">
                                Clear filters
                            </button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of booklistAll |sort:sortedProperty:sortOrderSetting
                                                    |search:searchRow.id:'id'
                                                    |search:searchRow.catId:'catId'
                                                    |search:searchRow.name:'name'
                                                    |search:searchRow.author:'author'
                                                    |search:searchRow.description:'description' 
                                                    |search:searchRow.image:'image' 
                                                    |search:searchRow.price:'price' 
                                                    |search:searchRow.stock:'stock' 
                                                    |search:searchRow.featured:'featured'
                                                    |search:searchRow.active:'active'
                                                    |slice:((currentPage-1)*pageSize):(currentPage*pageSize)
                                                    ">
                        <!-- Az ngFor és a slice sajnos nem jön ki jól egymással, ilyenkor a változó elveszíti meghatározott Object jellegét. -->
                        <ng-container *ngIf="!book.editable">
                            <td class="column__narrow align-middle">{{ book.id }}</td>
                            <td class="column__narrow align-middle">{{ book.catId }}</td>
                            <td class="align-middle">{{ book.name }}</td>
                            <td class="align-middle">{{ book.author }}</td>
                            <td class="column__description">{{ book.description }}</td>
                            <td class="align-middle">{{ book.image }}</td>
                            <td class="column__price text-center align-middle">{{ book.price }}</td>
                            <td class="column__narrow text-center align-middle">{{ book.stock }}</td>
                            <td class="column__narrow text-center align-middle">{{ book.featured }}</td>
                            <td class="column__narrow text-center align-middle">{{ book.active }}</td>
                        </ng-container>
                        <ng-container *ngIf="book.editable">
                            <td class="align-middle">{{ book.id }}</td>
                            <td class="align-middle"><input name="catId" [(ngModel)]="book.catId" type="text"
                                    class="form-control" value="{{ book.catId }}"></td>
                            <td class="align-middle"><input name="name" [(ngModel)]="book.name" type="text"
                                    class="form-control" value="{{ book.name }}"></td>
                            <td class="align-middle"><input name="author" [(ngModel)]="book.author" type="text"
                                    class="form-control" value="{{ book.author }}"></td>
                            <td class="form-group column__description"><textarea name="description"
                                    [(ngModel)]="book.description" type="text" class="form-control"
                                    value="{{ book.description }}" rows="4"></textarea></td>
                            <td class="align-middle"><input name="image" [(ngModel)]="book.image" type="text"
                                    class="form-control" value="{{ book.image }}"></td>
                            <td class="align-middle"><input name="price" [(ngModel)]="book.price" type="text"
                                    class="form-control" value="{{ book.price }}"></td>
                            <td class="align-middle"><input name="stock" [(ngModel)]="book.stock" type="text"
                                    class="form-control" value="{{ book.stock }}"></td>
                            <td class="align-middle"><input name="featured" [(ngModel)]="book.featured" type="text"
                                    class="form-control" value="{{ book.featured }}"></td>
                            <td class="align-middle"><input name="active" [(ngModel)]="book.active" type="text"
                                    class="form-control" value="{{ book.active }}"></td>
                        </ng-container>
                        <td class="align-middle">
                            <div class="btn-group">
                                <button class="btn btn-info" (click)="onEditClick(book)" [disabled]="editInProgress">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button class="btn btn-danger" (click)="onDeleteClick(book)">
                                    <i class="fa fa-trash"></i>
                                </button>
                                <button class="btn btn-success" (click)="onSaveClick(book)">
                                    <i class="fa fa-save"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <nav class="pagination__nav--bottom" aria-label="Page navigation example">
                <ul class="pagination pagination__bottom" *ngIf="canWeJumpPages">
                    <li *ngFor="let pageNumber of getPageNumbers()" class="page-item">
                        <a (click)="jumpToPage(pageNumber)" class="page-link page-link--active">{{pageNumber}}</a>
                    </li>
                </ul>
                <ul class="pagination" *ngIf="!canWeJumpPages">
                    <li *ngFor="let pageNumber of getPageNumbers()" class="page-item">
                        <a class="page-link page-link--disabled">{{pageNumber}}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<section class="segment__bottom mt-3">
    <div class="title title__top mb-3">
        <h2>Create new item</h2>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <form #bookEditorForm="ngForm" (ngSubmit)="onAddBook(newBook,bookEditorForm)" style="max-width: 400px"
                action="" class="mx-auto">

                <div class="form-group">
                    <label>Author</label>
                    <input name="author" [(ngModel)]="newBook.author" type="text" class="form-control" required>
                </div>

                <div class="form-group">
                    <label>Title</label>
                    <input name="name" [(ngModel)]="newBook.name" type="text" class="form-control" required>
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <textarea name="name" [(ngModel)]="newBook.description" type="text" class="form-control" required
                        rows="5"></textarea>
                </div>

                <div class="form-group">
                    <label>Image path</label>
                    <input name="image" [(ngModel)]="newBook.image" type="text" class="form-control" required>
                </div>

                <div class="container__form--pricestock d-flex justify-content-between text-center">

                    <div class="form-group">
                        <label>Category ID</label>
                        <input name="catId" [(ngModel)]="newBook.catId" type="number"
                            class="form-control text-center pl-4" required pattern="^[1-3]$">
                    </div>

                    <div class="form-group">
                        <label>Stock</label>
                        <input name="stock" [(ngModel)]="newBook.stock" type="number"
                            class="form-control text-center pl-4">
                    </div>

                    <div class="form-group">
                        <label>Price</label>
                        <input name="price" [(ngModel)]="newBook.price" type="number"
                            class="form-control text-center pl-4" required>
                    </div>
                </div>
                <div class="container__form--checkbox d-flex justify-content-center">
                    <div class="form-check form-check-inline">
                        <input name="featured" [(ngModel)]="newBook.featured" type="checkbox"
                            class="form-check-input checkbox--large" value="">
                        <label class="form-check-label">Featured</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input name="active" [(ngModel)]="newBook.active" type="checkbox"
                            class="form-check-input checkbox--large" value="">
                        <label class="form-check-label">Active</label>
                    </div>

                </div>

                <div class="d-grid gap-2 mt-3">
                    <button [disabled]="bookEditorForm.invalid" class="btn btn-block button__submit" type="submit">
                        Create new item</button>
                </div>
            </form>
        </div>
    </div>
</section>